* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

p.hide {
    display: none;
}

/*//styleName: H2;*/
h2 {
    font-size: 42px;
    line-height: 50px;
}

h3 {
    font-size: 32px;
    line-height: 38px;
}

h4 {
    font-size: 24px;
    line-height: 28px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.light-theme > * {
    color: white;
}

a {
    color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-logo-wrapper {
    background: url("../images/logo-dark.png") no-repeat;
    width: 156px;
    height: 63px;
}

.header-wrapper {
    background: url("../images/header-background.jpg");
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-size: cover;
    align-items: flex-start;
    height: 100vh;
}

.header {
    width: 1320px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.header-sky-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top-right-nav {
    display: flex;
    align-items: center;
}

.header-bottom-right-nav {
    margin-top: 20px;
    text-align: right;
}

.header-bottom-right-nav-link {
    font-size: 18px;
    line-height: 21px;
    margin-left: 15px;
}

.header-top-right-address-wrapper {
    margin-left: 20px;
    font-size: 16px;
    line-height: 19px;
}

.header-top-right-phone-wrapper {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-left: 20px;
    margin-right: 6px;
}

.header-top-right-language-wrapper-button {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 6px;
}
.header-fb-logo-link {
    height: 100%;
    width: 50%;
    display: block;
}

.header-contact {
    position: relative;
}

.header-contact:before {
    content: '';
    border-radius: 50%;
    background: #E6E6F0;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 37%;
    left: -13px;
}

.header-top-right-language-wrapper-button-active {
    background: #F0145A;
}

.header-top-right-language-wrapper-button:hover {
    background: #EDEDF7;
    color: black;
}

.header-top-right-fb-wrapper {
    margin-left: 20px;
    height: fit-content;
    cursor: pointer;
}

.header-top-right-fb-wrapper:hover svg path {
    fill: #24A3FF;
}

.header-bottom-right-nav-link:hover {
    color: #F0145A;
}

.header-top-right-language-wrapper-button-active:hover {
    background: #F0145A;
    color: white;
}

.header-fb-logo-link {
    display: block;
}

.header-middle-wrapper {
    margin-top: 63px;
    display: flex;
    justify-content: center;
}

.header-middle {
    background: url("../images/header-middle-background.svg");
    background-size: cover;
    height: 644px;
    width: 689px;
    display: flex;
    justify-content: center;
}

.header-middle-icon {
    background: url("../images/header-middle-p-logo.png") no-repeat;
    width: 595px;
    height: 500px;
    margin-top: calc(185px - 63px);
    text-align: center;
    padding-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-middle-text {
    font-size: 38px;
    line-height: 45px;
}

.content-wrapper {
    background: url("../images/middle-background.jpg") no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.content {
    width: 1320px;
}

.side-by-side-unit {
    padding-top: 82px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.side-by-side-unit-left-part {
    display: flex;
    width: 43%;
    flex-direction: column;
    align-items: flex-end;
}

.side-by-side-unit-right-part {
    display: flex;
    width: 57%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
}

.side-by-side-unit-category {
    padding-right: 40px;
    padding-bottom: 21px;
    display: block;
    font-size: 42px;
    line-height: 50px;
    text-align: right;
    color: #B3B3BA;
    border-right: 4px solid #E6E6F0;
}

.side-by-side-unit-category-active {
    border-right-color: #F0145A;
    background: -webkit-linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.side-by-side-unit-right-part-title {
    margin-bottom: 20px;
}

.side-by-side-unit-right-part-desc {
    font-size: 21px;
    line-height: 30px;
}

.grey-category {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    color: #B3B3BA;
    position: relative;
}

.grey-category:after {
    content: '';
    background-size: 100%;
    background: url("../images/grey-category-arrow.png");
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 2px;
    right: -13px;
}

.what-we-do-title {
    margin-top: 3px;
    margin-bottom: 68px;
    background: -webkit-linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.what-we-do-units-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 58px;
}

.what-we-do-unit {
    max-width: 413px;
    padding-right: 40px;
}

.what-we-do-unit:last-child {
    padding-right: 0;
}

.what-we-do-unit-img {
    margin-bottom: 20px;
}

.what-we-do-unit-title {
    color: #24A3FF;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}

.what-we-do-unit-desc {
    font-size: 18px;
    line-height: 26px;
}

/**/
#tabs {
    display: flex;
    padding-top: 82px;
    padding-bottom: 80px;
    align-items: center;
}

.tabs-nav {
    display: flex;
    width: 43%;
    flex-direction: column;
    align-items: flex-end;

}

.tabs-nav li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tabs-nav a {
    padding-right: 40px;
    padding-bottom: 11px;
    padding-top: 10px;
    display: block;
    font-size: 42px;
    line-height: 50px;
    text-align: right;
    color: #B3B3BA;
    border-right: 4px solid #E6E6F0;
}

.tabs-nav > li:first-child > a {
    padding-top: 0;
}

.tabs-nav > li:last-child > a {
    padding-bottom: 0;
}

.tabs-nav a.active {
    background: -webkit-linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: #F0145A 4px solid;
}

.tabs-items {
    width: 57%;
}

.tabs-item {
    padding-left: 40px;
}

.carousel-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 41px;
}

.carousel {
    display: flex;
    width: 1320px;
}

.slide-unit {
    background: #F5F5FA;
    border-radius: 12px;
}

.slider-image {
    background: url("../images/slider/image.jpg") no-repeat;
    width: 413px;
    height: 500px;
}

.slider-text {
    padding: 40px;
    width: calc(1320px - 413px);
}

.slider-text .grey-category {
    color: #24A3FF;
    font-weight: 700;
}

.slider-text .grey-category:after {
    content: '';
    background-size: 100%;
    background: url("../images/grey-category-arrow-blue.png");
    width: 8px;
    height: 12px;
    position: absolute;
    bottom: 2px;
    right: -13px;
}

.slider-desc {
    margin-top: 3px;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider-author {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #B3B3BA;
}

.slider-author-role {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #B3B3BA;
}

.carousel-wrapper > .carousel > .slick-arrow {
    display: none;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-dots li button:before {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #24A3FF;
    opacity: 0.2;
}

.slick-dots {
    bottom: -40px;
}

.slick-dots li.slick-active button:before {
    opacity: 100%;
    background: #24A3FF;
}

.slick-dotted.slick-slider {
    margin-bottom: 77px;
}

.successful-cases-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.successful-cases {
    width: 1320px;
    display: flex;
    border-radius: 12px;
    background: #F5F5FA;
    position: relative;
    flex-wrap: wrap;
}

.successful-cases-title-box {
    position: absolute;
    width: 433px;
    border: 1px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.successful-cases-title {
    padding: 20px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: left;
    color: #F0145A;
    text-transform: uppercase;
}

.successful-case:nth-child(2) {
    width: 454px;
}

/*.successful-cases > .successful-case:last-child {*/
/*    width: 433px;*/
/*}*/
.successful-case {
    border: 1px solid #FFFFFF;
    padding: 105px 20px 20px 20px;
    width: 433px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.successful-case-second-line {
    border: 1px solid #FFFFFF;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 547px;
}

.successful-case-second-line:nth-child(4) {
    width: 320px;
}

.successful-case-second-line:nth-child(5) {
    width: 453px
}

.successful-case-title {
    color: #686887;
    margin-bottom: 20px;
}

.successful-case-author {
    color: #B3B3BA;
}

.already-trust-us-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.already-trust-us-title {
    color: #323264;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.already-trust-us {
    width: 1440px;
    display: flex;
    flex-direction: column;
}

.already-trust-us-logos {
    display: flex;
    flex-wrap: wrap;
}

.already-trust-us-logo {
    height: 120px;
}

.we-have-smth-to-say-wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    background: #F5F5FA;
}

.we-have-smth-to-say {
    width: 1320px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 4px solid #E6E6F0;;
}

.we-have-smth-to-say a.grey-category {
    margin-bottom: 3px;
    display: block;
    color: #24A3FF;
    position: relative;
}

.we-have-smth-to-say .grey-category:after {
    content: '';
    background-size: 100%;
    background: url("../images/grey-category-arrow-blue.png");
    width: 8px;
    height: 12px;
    position: absolute;
    bottom: 2px;
    left: 89px;
}

.we-have-smth-to-say-title {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

.we-have-smth-to-say-units {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.we-have-smth-to-say-unit-text {
    padding: 20px;
}

.we-have-smth-to-say-unit {
    width: 414px;
    background: white;
    border-radius: 8px;
    margin-bottom: 40px;
    height: fit-content;
}

.we-have-smth-to-say-unit-title {
    color: #24A3FF;
    margin-bottom: 10px;
}

.we-have-smth-to-say-unit-date {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: left;
    color: #B3B3BA;
    padding-bottom: 20px;
    border-bottom: 4px solid #E6E6F0;;
}

.we-have-smth-to-say-unit-desc {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 20px;
}

.we-have-smth-to-say-unit img {
    width: 100%;
}

.blurred-background {
    background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
    width: 100%;
    height: 285px;
    position: absolute;
    bottom: 2%;
}

.we-have-smth-to-say-button-load {
    position: absolute;
    left: 41%;
    bottom: 16%;
    background: #24A3FF;
    width: 250px;
    height: 50px;
    border: none;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
}

.footer-wrapper {
    display: flex;
    background: #F5F5FA;
    justify-content: center;
}

.footer {
    padding-top: 32px;
    padding-bottom: 40px;
    width: 1320px;
    display: flex;
    flex-direction: column;
}

.footer a {
    color: #24A3FF;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
}

.footer-first-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.footer-map-link {
    text-transform: uppercase;
    margin-left: 22px;
}

.footer-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    color: #323264;
    margin-right: 15px;
}

.footer-phone {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-right: 10px;
    margin-left: 21px;
}

.footer-fb-logo-link {
    margin-right: 10px;
}

.footer-second-line {
    display: flex;
    align-items: center;
}

.footer-second-line-fb-wrapper {
    height: fit-content;
    cursor: pointer;
    margin-right: 10px;
}
.footer-mail-to-link {
    margin-left: 21px;
}

